{% extends 'base.html.twig' %}

{% block title %}Luxury Services recruitment & services{% endblock %}

{% block inlinestyles %}
    <style>
     .page-title-bg {
         background-image: url(../../assets/img/bg3.jpg);
     }
     .log-section form .checkbox label {
         font-size: 16px
     }
     .log-section form .checkbox label a {
         color: #b6a575;
         text-decoration: underline;
         text-transform: inherit;
         font-size: 16px
     }
     .log-section form .links a {
         display: block;
         text-align: center;
         color: #b6a575;
         text-decoration: underline;
         text-transform: inherit;
         font-size: 16px
     }
    </style>
{% endblock %}

{% block body %}
    <div class="base">
        <!-- Page -->
        <div class="page">
            <!-- Page Header-->
            <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="white-text">Register</h2>
                            <span class="white-text">Welcome on board</span>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="#!">Home</a>
                                </li>
                                <li class="active">Register</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Page Content-->
            <section class="section-padding gray-bg log-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3 card card-panel">
                            <h3 class="text-extrabold">Create a new account</h3>
                            {# <form autocomplete="off" id="register-form" method="post" role="form"> #}
                            {{ form_start(form, {attr: {id: 'register-form'}}) }}
                            <div class="input-field">
                                {{ form_row(form.email) }}
                            </div>
                            <div class="input-field">
                                {{ form_row(form.password) }}
                            </div>

                            <div class="checkbox">
                                {{ form_row(form.agreeTerms) }}
                            </div>

                            <button class="btn btn-lg gradient secondary btn-block waves-effect waves-light mt-20 mb-20"
				    type="submit">Create an account</button>

                            <div class="links">
                                <a href="/login.html">Already have an account? Click here</a>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    <script type="text/javascript">

     onAppReady(function() {
         $('.preload').remove();
     });
    </script>
{% endblock %}
